body,  {
    font-family: 'Roboto', sans-serif;   
}
#mapid{
    height:500px; 
}

section .col-sm-10{
    padding-left: 0%;
}
section .col-sm-2{
    padding-right: 0%;
}
.navbar-brand{
    color: #fff;
    font-size: 20px;
    
}